# This is a basic workflow to help you get started with Actions

name: CI

on:
  schedule:
    - cron: '0 0 */2 * *'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      - name: Run a multi-line script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          ./gentoo-version-check.sh
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add README.md .*-raw-data.csv
          git commit -m "(ci): update on $(date --iso-8601=seconds)"
          git push origin HEAD
